body{padding-top:60px;background-image:url(../img/backgroundNoise.png);background-position:left top;background-repeat:repeat;background-color:#5F7089}
h2{color:#fff;text-shadow:1px 1px 3px #000}
.alert a{font-weight:bold}
.video-container{padding:0;background:none}
.video-container object{display:block}
.alert-comments{margin:20px 0 0}
.video_comments{background-color:#EEE;height:580px;overflow-y:auto;list-style-type:none;padding:10px 20px;margin:0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
.video_comments li{padding-bottom:5px;margin-bottom:5px;border-bottom:1px solid #CCC}
.video_comments li.last{padding-bottom:0;margin-bottom:0;border-bottom:none}
.video_comments .time{color:#aaa;padding-right:5px}
.video_comments .comment{padding-top:10px}
footer{padding-top:10px;text-shadow:1px 1px 3px #000}
footer p{color:#fff}
footer a,footer a:hover{color:#ddd}